/* =============================================================================
   Group 3
   Viewport >= 600px
   ========================================================================== */

.js
    // respond-min(mq-group3) {
    //     body
    //         background-color: green
    // }