/* =============================================================================
   Group 2
   Viewport >= 400px
   ========================================================================== */

.js
    // respond-min(mq-group2) {
    //     body
    //         background-color: yellow
    // }