/* =============================================================================
   Group 1
   Viewport <= 399px
   ========================================================================== */

.js
    body
        background-color: red