/* =============================================================================
   Component: Hello
   Does ABC
   ========================================================================== */

[data-component="hello"] {
    border: 1px solid blue;

    @include mq($mq-group2) {
        & {
            border: 1px solid green;
        }
    }

    @include mq($mq-group3) {
        & {
            border: 1px solid yellow;
        }
    }

    @include mq($mq-group4) {
        & {
            border: 1px solid red;
        }
    }
}