/* =============================================================================
   Component: World
   Does XYZ
   ========================================================================== */

[data-component="world"] {
    border: 1px solid blue;

    @include respond-min($mq-group2) {
        & {
            border-color: green;

            @include old-ie {
                border-width: 2px;
            }
        }
    }

    @include respond-min($mq-group3) {
        & {
            border-color: yellow;

            @include old-ie {
                border-width: 3px;
            }
        }
    }

    @include respond-min($mq-group4) {
        & {
            border-color: red;

            @include old-ie {
                border-width: 4px;
            }
        }
    }
}