/* =============================================================================
   Component: World
   Does XYZ
   ========================================================================== */

[data-component="world"]
    border: 1px solid blue

    // respond-min(mq-group2) {
    //     &
    //         border: 1px solid green
    // }

    // respond-min(mq-group3) {
    //     &
    //         border: 1px solid yellow
    // }

    // respond-min(mq-group4) {
    //     &
    //         border: 1px solid red
    // }